.ControlsContainer,
.playback-overlay__container.vod,
.jw-controlbar,
.ytp-chrome-bottom,
.watch-video--bottom-controls-container,
.ltr-hpbgml,
.controls__content,
btm-media-overlays-container {
  display: none !important;
}
